



.title2{
    font-size: 40px ;
}

#title3{
    font-size: 60px;
    text-align: center;
    color:black;
} 

.title4{
    text-align: justify;
    font-size: 40px;
}

.text2{
    text-align: justify;
}
.text3{
    font-size: 25px;
    text-align: justify;
    color: black;
}

.imagesRef{
    font-size: 10px;
    color: white;
    text-align: center;
}

.colorBoton{
    color: white;
}

#center{
    text-align: center;
    color: white;
}

.imagesObjectives{
    width: 100%;
    height: 400px;

}